on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Build
        run: mvn clean install -dSkipTests

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Test
        run: mvn clean install

  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deployment
        run: echo 'deploying.'
