on:
  push:
    branches:
      - main

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Build
        run: mvn clean install -DskipTests


  test:
    runs-on: ubuntu-latest
    needs: build       # ensure test runs AFTER build
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Test
        run: mvn test


  deploy:
    runs-on: ubuntu-latest
    needs: test        # ensure deploy runs AFTER tests
    steps:
      - uses: actions/checkout@v4

      - name: Deployment
        run: echo 'deploying.'
